<header>
  <div class="header-inner">
    <h1>アプリ名</h1>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li><%= link_to '投稿', new_idea_path, class: "header-nav-list-item" %></li>
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, "#", class: "header-nav-list-item" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-nav-list-item" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "header-nav-list-item " %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "header-nav-list-item" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<div class="mv">
  <h2>自分の知識を<br>共有しよう！</h2>
</div>

<% if @ranks.length > 0 %>
  <section class="lists">
    <div class="list-inner">
      <h2 class="list-ttl">
      ランキング
      </h2>
      <div class="list-card-wapper">
          <% @ranks.each do |rank| %>
            <article class="list-card">
            <%= link_to (idea_path(rank.id)), class:"no-underline" do %>
                <%= image_tag rank.image, class: "list-pict" if rank.image.attached? %>
                <div class="card-info">
                  <%= rank.title %>
                </div>
            <% end %>
            </article>
          <% end %>
      </div>
      <a href="#" class="btn btn-info">全て表示する</a>
    </div>
  </section>
<% else %>
  <section>
    <div class="list-inner">
      <h2 class="list-ttl">
      ランキング
      </h2>
      <div class="list-card-wapper">
        <article class="list-card">
          <%= image_tag "IMG_1170.jpeg", class:"list-pict" %>
          <div class="card-info">
            <h3>題名</h3>
          </div>
        </article>
        <article class="list-card">
          <%= image_tag "IMG_1170.jpeg", class:"list-pict" %>
          <div class="card-info">
            <h3>題名</h3>
          </div>
        </article>
        <article class="list-card">
          <%= image_tag "IMG_1170.jpeg", class:"list-pict" %>
          <div class="card-info">
            <h3>題名</h3>
          </div>
        </article>
      </div>
      <a href="#" class="btn btn-info">全て表示する</a>
    </div>
  </section>
<% end %>

<% if @novelties.length > 0 %>
  <section class="lists">
    <div class="list-inner">
      <h2 class="list-ttl">
      新着
      </h2>
      <div class="list-card-wapper">
        <% @novelties.each do |novelty| %>
          <article class="list-card">
          <%= link_to (idea_path(novelty.id)), class:"no-underline" do %>
            <%= image_tag novelty.image, class: "list-pict" if novelty.image.attached? %>
            <div class="card-info">
              <%= novelty.title %>
            </div>
          <% end %>
          </article>
        <% end %>
      </div>
        <a href="#" class="btn btn-info ">全て表示する</a>
    </div>
  </section>
<% else %>
  <section>
    <div class="list-inner">
      <h2 class="list-ttl">
      新着
      </h2>
      <div class="list-card-wapper">
        <article class="list-card">
          <%= image_tag "IMG_1170.jpeg", class:"list-pict" %>
          <div class="card-info">
            <h3>題名</h3>
          </div>
        </article>
        <article class="list-card">
          <%= image_tag "IMG_1170.jpeg", class:"list-pict" %>
          <div class="card-info">
            <h3>題名</h3>
          </div>
        </article>
        <article class="list-card">
          <%= image_tag "IMG_1170.jpeg", class:"list-pict" %>
          <div class="card-info">
            <h3>題名</h3>
          </div>
        </article>
      </div>
      <a href="#" class="btn btn-info">全て表示する</a>
    </div>
  </section>
<% end %>