<header>
  <div class="header-inner">
    <h1>アプリ名</h1>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <% if user_signed_in? && @idea.user_id == current_user.id %>
          <li><%= link_to '編集', edit_idea_path, class: "header-nav-list-item" %></li>
          <li><%= link_to '削除', idea_path, method: :delete, class: "header-nav-list-item", data: { confirm: '削除しますか？' } %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<div class="show">
  <div class="idea-show">
    <div class="idea-title">
      <h1 class="title">
        <%= @idea.title %>
      </h1>
    </div>
    <div class="idea-img">
      <%= image_tag @idea.image, class: "idea-image" if @idea.image.attached? %>
    </div> 
    <div class="idea-content">
      <%= @idea.content %>
    </div>
    
    <%# いいねの呼び出し%>
    <%= render 'shared/like', locals: { idea: @idea, like: @like } %>
    
    <%# コメント機能 %>
    <div class="input_wrap">
      <% if current_user %>
        <%= form_with(model: [@idea, @comment], local: true) do |form| %>
          <%= form.text_area :message, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "送信" , class:"comment_btn"%>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
    </div>
    <div class="container">
      <div class="comments">
        <h4>＜コメント一覧＞</h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}", class: "no-underline" %>：</strong>
              <%= comment.message %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<footer>
  attached
</footer>