<%= render "shared/header" %>

<div class="show">
  <div class="idea-show">
  <p class="my-page"><%= @nickname %>のマイページ</p>
    <section class="lists">
      <div class="list-inner">
        <div class="list-card-wapper">
          <% @ideas.each do |idea| %>
            <article class="list-card">
              <%= link_to (idea_path(idea.id)), class:"no-underline" do %>
                <% if idea.image.attached? %>
                  <%= image_tag idea.image, class: "list-pict" %>
                <% else %>
                  <%= image_tag "l_e_others_501.png", class:"list-pict" %>
                <% end %>
                <div class="card-info">
                  <%= idea.title %>
                </div>
              <% end %>
            </article>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>

<%= render "shared/footer" %>