<%= form_with model: [@idea,@comment] do |f| %>
  <%= f.text_field :message %>
  <%= f.submit '送信'%>
<% end %>
<div id='comments'>
<% if @comments %>
  <% @comments.first(2).each do |comment| %>
    <p>
      <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
      <%= comment.message %>
    </p>
  <% end %>
  <div class="collapse" id="collapseExample">
      <% @comments.offset(2).each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.message %>
        </p> 
      <% end %> 
  </div> 
<% end %>
</div>