<header>
  <div class="header-inner">
    <h1><a href="/">アプリ名</a></h1>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li><%= link_to '投稿', new_idea_path, class: "header-nav-list-item" %></li>
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, "#", class: "header-nav-list-item" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-nav-list-item" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "header-nav-list-item " %></li>
          <li><%= link_to '登録する', new_user_registration_path, class: "header-nav-list-item" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>